<div class="modal-header" >
	<span class="close-span modal-close" ng-click="cancel()"><i class="icon-close"></i></span>
    <h4 class="modal-title">未点到详细</h3>
</div>
<div class="modal-body">
        <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                      <thead class="tdbackg">
                        <tr>
                          <th>头像</th>
                          <th>姓名</th>
                          <th>编号</th>
                          <th class="hidden-480">其他信息</th>
                          <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            点到时间
                          </th>
                          <th class="hidden-480">状态</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-info label-zt">出工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-info label-zt">出工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>张三</td>
                          <td>12343434456</td>
                          <td class="hidden-480">高危嫌犯</td>
                          <td>2018-11-15 16：00</td>
                          <td class="hidden-480">
                            <span class="label label-success label-zt">收工</span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
			
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">退出</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>