<div class="modal-header" >
	<span class="close-span modal-close" ng-click="cancel()"><i class="icon-close"></i></span>
    <h4 class="modal-title">带出人员</h3>
</div>
<div class="modal-body">
  <div class="row row-ry">
    <div class="row row-m20">
       <div class="col-md-6">
         <i class="fa fa-clock-o i-rymodal"></i><span class="span-rymodal">带出时间:</span><span class="span3-rymodal">2019-06-16 12:23</span>
       </div>  
       <div class="col-md-6">
         <i class="icon-pointer i-rymodal"></i><span class="span-rymodal">目的地:</span><span class="span3-rymodal">车间</span>
       </div> 
    </div>
    <div class="row row-m10">
       <div class="col-md-6">
         <i class="glyphicon glyphicon-user i-rymodal"></i><span class="span-rymodal">带出警察:</span>
       </div>  
       <div class="pad-20 col-md-6">
         <i class="fa fa-male i-rymodal"></i><span class="span-rymodal">人犯:</span>
       </div> 
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="" title=""><img src="img/a0.jpg" alt=""></a>
        <span class="span2-rymodal">张三</span>
      </div>
      <div class="div-rymodal col-md-9">
        <ul class="ul-rymodal">
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张一</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张二</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张三</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张四</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张五</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张五</span></li>
        </ul>
      </div>
      <div class="clear"></div> 
    </div>
  </div> 

  <div class="row row-ry">
    <div class="row row-m20">
       <div class="col-md-6">
         <i class="fa fa-clock-o i-rymodal"></i><span class="span-rymodal">带出时间:</span><span class="span3-rymodal">2019-06-16 12:23</span>
       </div>  
       <div class="col-md-6">
         <i class="icon-pointer i-rymodal"></i><span class="span-rymodal">目的地:</span><span class="span3-rymodal">车间</span>
       </div> 
    </div>
    <div class="row row-m10">
       <div class="col-md-6">
         <i class="glyphicon glyphicon-user i-rymodal"></i><span class="span-rymodal">带出警察:</span>
       </div>  
       <div class="pad-20 col-md-6">
         <i class="fa fa-male i-rymodal"></i><span class="span-rymodal">人犯:</span>
       </div> 
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="" title=""><img src="img/a0.jpg" alt=""></a>
        <span class="span2-rymodal">张三</span>
      </div>
      <div class="div-rymodal col-md-9">
        <ul class="ul-rymodal">
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张一</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张二</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张三</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张四</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张五</span></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div> 

  <div class="row row-ry">
    <div class="row row-m20">
       <div class="col-md-6">
         <i class="fa fa-clock-o i-rymodal"></i><span class="span-rymodal">带出时间:</span><span class="span3-rymodal">2019-06-16 12:23</span>
       </div>  
       <div class="col-md-6">
         <i class="icon-pointer i-rymodal"></i><span class="span-rymodal">目的地:</span><span class="span3-rymodal">车间</span>
       </div> 
    </div>
    <div class="row row-m10">
       <div class="col-md-6">
         <i class="glyphicon glyphicon-user i-rymodal"></i><span class="span-rymodal">带出警察:</span>
       </div>  
       <div class="pad-20 col-md-6">
         <i class="fa fa-male i-rymodal"></i><span class="span-rymodal">人犯:</span>
       </div> 
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="" title=""><img src="img/a0.jpg" alt=""></a>
        <span class="span2-rymodal">张三</span>
      </div>
      <div class="div-rymodal col-md-9">
        <ul class="ul-rymodal">
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张一</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张二</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张三</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张四</span></li>
          <li class="li-rymodal"><a href=""><img src="img/aaa.jpg" alt="" class="img-rymodal"></a><span class="span2-rymodal">张五</span></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div> 
    
</div>
<div class="modal-footer">                  
    <button class="btn btn-default"  ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">关闭</button>
</div>