<div class="modal-header" >
	<span class="close-span modal-close" ng-click="cancel()"><i class="icon-close"></i></span>
    <h4 class="modal-title">新增</h3>
</div>
<div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">终端ID</label>
              <input class="form-control nameinput col-sm-8" placeholder="请输入姓名" type="email">
            </div>
            <div class="form-group col-sm-6 namediv marginl-26">
              <label class="namelabel col-sm-4">终端/摄像头名称</label>
              <input class="form-control nameinput col-sm-8" placeholder="请输入姓名" type="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">终端IP</label>
              <input class="form-control nameinput col-sm-8" placeholder="请输入姓名" type="email">
            </div>
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">安装位置</label>
              <input class="form-control nameinput col-sm-8" placeholder="请输入姓名" type="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">设备类型</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">所在区域</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
        </div>   
        <div class="row">
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">所属单位</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">所属楼栋</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
        </div>   
        <div class="row">
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">所属楼层</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">所属监舍</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
        </div>   
        <div class="row">
            <div class="form-group col-sm-6 namediv">
              <label class="namelabel col-sm-3">注册时间</label>
              <select name="account" class="form-control nameinput col-sm-8">
                <option value="option 1">请选择</option>
                <option value="option 2">1</option>
                <option value="option 3">2</option>
              </select>
            </div>
            <div class="form-group col-sm-6 namediv">
            </div>
        </div>  
        <div class="row">
            <div class="form-group namediv">
                <label class="namelabel col-sm-2">授权码</label>
                <textarea class="form-control col-sm-9 marginl-26" rows="6" placeholder="请填写.."></textarea>
            </div>
        </div>  


			
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>